```html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Themes</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="container">
        <h1>Customize Your Theme</h1>
        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="../static/images/theme1.png" alt="Theme 1">
                    <button class="btn" id="theme1">Select Theme 1</button>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../static/images/theme2.png" alt="Theme 2">
                    <button class="btn" id="theme2">Select Theme 2</button>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../static/images/theme3.png" alt="Theme 3">
                    <button class="btn" id="theme3">Select Theme 3</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/main.js"></script>
    <script src="themes.js"></script>
</body>
</html>
```